body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #121212;
    color: #e9e9e9;
    gap: 20px;
}

.header {
    display: flex;
    justify-content: center;
}

.game-container {
    background-color: #16213e;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 100px;
    padding: 20px;
}

.game-container > div {
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-container {
    display: flex;
    justify-content: space-evenly;
    height: 100px;
    margin: 20px;
}

button {
    background-color: #0f3460;
    border: 1px solid #4ecca3;
    color: white;
    border-radius: 5px;
    width: 100px;
    height: 50px;
    transition: 0.3s
}

#round-count {
    min-height: 1.5em;
    margin-bottom: 10px;
}

.replay-container {
    display: flex;
    justify-content: center;
}

button:hover {
    cursor: pointer;
}